<div id="<%= dom_id place %>">
  <p>
    <strong>Lat:</strong>
    <%= place.lat %>
  </p>

  <p>
    <strong>Lon:</strong>
    <%= place.lon %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= place.title %>
  </p>

</div>
